## ############################################################################
## File Patterns To Ignore
##
## - Editor Temp Files
## - R Files
##
## ############################################################################

## ============================================================================
## Editor Temp Files
## ============================================================================

*~
~*
\#*
\#*\#
*.log


## ============================================================================
## R Files
## ============================================================================

.Rhistory
.Rdata
*.Rproj
*-Ex.R